* { margin: 0; 
    padding: 0; }

h1 { width: 100vw;
     position: center;
     border-bottom: 1px solid black; }


div#wrap { width: 100vw;
           height: 90vh; }

div#parameter_box { height: 30px;
                    padding-left: 5px;
                    border-bottom: 1px solid black; }

div#left { display: inline-block;
           width: 20%;
           border-right: 1px solid black; }

div#herv_menu { height: calc(90vh - 15px);
                overflow: auto; }

div#left ul { padding-left: 5px;
              padding-right: 5px;
              list-style-type: none; }

div#left li:hover { cursor: hand;
                    background-color: yellow; }


div#right { display: inline-block;
            width: 75%;
            height: 90vh;
            overflow: auto; }
