body { background-color: beige; }

div#wrap { margin: auto;
           height: 95vh;
           width: 95vw;
           display: flex;
           flex-direction: column; }


div#contents { display: flex;
               flex-direction: row; }

div#param_box { margin-bottom: 5px; }

div#left { display: flex;
           flex-direction: column; }

div#herv_menu { width: 300px;
                overflow: auto;}

div#left ul { padding-left: 10px;
              background-color: darkseagreen;
              list-style-type: none; }

div#left li:hover { cursor: hand;
                    background-color: yellow; }

form#z_score_mode { margin-bottom: 0px; }

div#right { padding-left: 10px; 
            overflow: auto; }

div#text_body { display: none; }


.herv_name { color: #2724ce; }
