div#wrap { height: 95vh;
           width: 95vw;
           display: flex;
           flex-direction: column; }

div#contents { display: flex;
               flex-direction: row; }

div#param_box { margin-bottom: 5px; }

div#left { display: flex;
           flex-direction: column; }

div#herv_menu { width: 300px;
                overflow: auto;}

div#left ul { list-style-type: none; }

div#left li:hover { cursor: hand;
                    background-color: yellow; }

form#z_score_mode { margin-bottom: 0px }

div#right { overflow: auto; }
