html { font-family: sans-serif !important; }

div#menu a:visited { color: blue; }

div#download { display: none; }
div#help { display:none; }

span.help { color: blue;
            text-decoration: underline; }
span.help:hover { cursor: pointer; }

.details-control:hover { cursor: pointer; }

p.red { color: red; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

span.help a { text-decoration: underline; 
              color: blue; }
span.help a:visited { color: blue; }

div#wrap { margin: auto;
           height: 95vh;
           width: 95vw;
           display: flex;
           flex-flow: column; }

div#menu ul { display: flex;
              list-style-type: none;
              padding-left: 0px;
              background-color: lightblue; }

div#menu ul li { font-size: 30px;
                 margin-right: 15px; }

div#basic_info { display: flex; }

div.js-plotly-plot { margin: auto; }


div#parameters { margin-bottom: 20px; 
                 width: 450px;}

div#parameters h4 { margin-top: 10px; 
                   margin-bottom: 0px;
                   color: darkcyan; } 


form#z_score_mode { margin-bottom: 0px; }

div#right { padding-left: 20px;
            padding-right: 20px; 
            overflow: auto;}

div#text_body { display: none; }


div#text_body span { color: #ce1c10; }

img { height: 500px; }

div#phylocontainer { overflow-x:auto;
                              overflow-y:hidden;
                              width:100%;
                              white-space:nowrap;}

.phylo_legend {display:inline-block;
                     margin-right:1%;
                     width:19%;
                     vertical-align:top;
                     white-space:normal;
                     width:500px}

.phylo_graph {display:inline-block;
                    margin-right:1%;
                    width:19%;
                    vertical-align:top;
                    white-space:normal;
                    width:500px}

div#help img { display: block;
               margin: auto;
               height: 600px; }

div#help img:nth-of-type(1) { height: 60px; }
div#help img:nth-of-type(2) { height: 60px; }
div#help img:nth-of-type(3) { height: 800px; }
div#help img:nth-of-type(4) { height: 180px; }
div#help img:nth-of-type(5) { height: 300px; }

div#help p.center { text-align: center; }
sup { vertical-align: super;
      font-size: smaller; }

